#planetas,#caracteres{
    width: 100em;
    display: inline-block;
    
    text-align: left;
    overflow: hidden;
   
}   

#hola{
    display: inline-block;   
    
    
}


.delete:hover {
  color: red;
}


.card-text{
    width: 200px;
    height: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    
   
}

h1{
    color: red;
    text-align: left;
    margin: 1%;
}

body{
    padding-left: 2%;
    padding-right: 2%;
    
}

i{
    color: gray;
    outline-color: black;
    margin: right;
    
    
}

i:hover {
  color: red;
}

i::selection{
    color:blue

}

img{
    width: 30%;
    height: 30%;   
   
}

.btn{
    float: flex;
}


#card-footer{
    display: flex;
    margin-top: 50px;
    position: relative;
    background-color: lightskyblue;
    border-radius: 15px;
}

