#planetas,#caracteres{
    width: 100em;
    margin: auto;
}   
      
#hola{
    display: inline-block;   
    max-height: 330px;
}

.card-text{
    width: 100px;
    height: 110px;
   
}

h1{
    color: red;
    text-align: left;
    margin: 1%;
}

body{
    padding-left: 2%;
    padding-right: 2%;
}

i{
    color: gray;
    outline-color: black;
}

i:hover {
  color: red;
}

